
{% extends 'base.html' %}
{% load static %}

{% block title %}Number of Passenger{% endblock  %}


{% block content  %}
       <div id="wrapper">
        <link rel="stylesheet" href="{% static './css/passenger.css' %}">
        <div class="herotext">
            <center><span class="styled-header-text">Select Your Seat</span></center>
        </div>
            <div class="nav">
                <div class="nav-item"><a href="{% url 'home' %}" class="styled-menu-text">Home</a></div>
                <div class="nav-item"><a href="{% url 'search' %}" class="styled-menu-text">Search</a></div>
            </div>
            <div class="seats">
                <center>
                    <img src="{% static './images/c.png' %}" alt="seats" height="400px" width="700px">
                </center>
            </div>
            <div class="enterform">
                <form action="{% url 'payment' %}">
                    {% csrf_token %}
                    <button class="okBtn">OK</button>
                    <input type="number" name='noofpassenger' placeholder="Enter number of passengers" required>
                    <input type="text" name='seatno' placeholder="Enter seat numbers by separating comma." required>
                </form>
            </div>
       </div> 

{% endblock content %}
