{% extends 'base.html' %}
{% load static %}

{% block title %}Payment{% endblock  %}


{% block content  %}
<link rel="stylesheet" href="{% static './css/passenger.css' %}">
    <div id="wrapper">
        <div class="herotext">
            <span class="styled-header-text">Payment</span>
        </div>
        <div class="nav">
            <div class="nav-item"><a href="{% url 'passenger' %}" class="styled-menu-text">Back</a></div>
            <div class="nav-item"><a href="{% url 'home' %}" class="styled-menu-text">Home</a></div>
            <div class="nav-item"><a href="{% url 'search' %}" class="styled-menu-text">Search</a></div>   
        </div>
        <br>
        <div class="popularTable">
            <table class="popTable">
                <tr>
                    <th>Flight</th>
                    <th>Seat No</th>
                    <th>Passenger NO</th>
                    <th>Price</th>
                </tr>
                {% for seat in seats %}
                <tr>
                    <td>{{ seat.flight.user.username }}</td>
                    <td>{{ seat.Seat_no }}</td>
                    <td>{{ seat.passengers_no }} </td>
                    <td>{{ seat.flight.offer }} </td>

                </tr>
                {% endfor %}
            </table>
        </div>
            <div class="payment">
                <span class="styled-pay-text">Pay with</span>
            <div class="row">
                <div class="column">
                    Credit \ Debit Cards <br>
                    <img src="{% static './images/d.png' %}" alt="cards" height="80px" width="350px">
                    <form method="POST" action="{% url 'confirmbooking' %}"> {% csrf_token %}
                        <input type="text" name="cardholdername" placeholder="Card Holder Name" required><br>
                        <input type="text" name="cardnumber" placeholder="Card Number" required><br>
                        <input type="text" name="cvcCode" placeholder="CVC Code" required><br>
                        <input type="date" name="cardholdername" placeholder="Expiry Date" required>
                        <button type="submit" class="submitBtn">OK</button>
                    </form>
                </div>
                <div class="column">
                    <img src="{% static './images/e.png' %}" alt="cards" height="80px" width="350px"><br>
                    <form>
                        <input type="email" placeholder="Email Id" required><br>
                        <input type="password" placeholder="Password" required>
                        <button type="submit" class="submitBtn">OK</button>
                    </form>
                </div>
            </div>
            </div>
        </div>
        <br>

    </div>
{% endblock %}
