{% extends 'base.html' %}
{% load static %}

{% block title %}Search results {% endblock  %}

{% block content  %}
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <div id="wrapper">
        <div class="herotext">
            <span class="styled-header-text">Student Travel</span>
        </div>
        <div class="nav">
            <div class="nav-item"><a href="{% url 'home' %}" class="styled-menu-text">Home</a></div>
            <div class="nav-item"><a href="{% url 'home' %}" class="styled-menu-text">Search Flight</a></div>
            <div class="nav-item"><a href="#" class="styled-menu-text">About Us</a></div>
            <div class="nav-item"><a href="#" class="styled-menu-text">Contact Us</a></div>   
        </div>
        <br>
        <div class="result">
            <div class="popularTable">
                <center>
                <table class="popTable">
                    {% for offer in offers %}
                    <tr>
                        <td class="likes"><h5> {{ offer.To }} Trip was {{offer.original}} Offer: {{offer.offer}}<h5><a href="{% url 'passenger' %}"><button> Book a seat </button></a> </td>
                    </tr>
                    {% endfor %}
                </center>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}