
{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock  %}

{% block content  %}

        <link rel="stylesheet" href="{% static './css/style.css' %}">
        <div id="wrapper">
            <div class="herotext">
                <center><span class="styled-header-text">Student Travel</span></center>
            </div>
            {% include 'nav.html' %}
            <center>
                <div class="logincontainer">
                    <div class="logintext">Log In</div>
                    <div class="loginform">
                        <form id="login_form" class="form" method="post" action="{% url 'login' %}">
                            {% csrf_token %} <!-- for security reasons -->
                            {{login_form.as_p}} <!-- rendering form as paragraph -->
                            <input type="submit" class="btn  btn-outline-info" value="Login">
                            </form>
                        <br>
                        <a class="submitBtn" href="{% url 'register' %}">SignUp</a>
                    </div>
                </div>
            </center>
        </div>
{% endblock %}
