
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
      {% block title %}
          Home
      {% endblock %}
  </title>
  </head>
  <body>
    <div class="bg-dark   jumbotron" style="min-height: 840px" >

    <!--error or success  message display -->
      <div class="messages pt-2 mt-2 mb-2">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
        {% endfor %}
      </div>
    
    {% block content %}
    <!--main content-->
    
    {% endblock %}
    </div>
  </body>
</html>
